* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row{
  width: 100%;
}
.divstyle{
  background-color: #00FFFF;
  position: relative;
  width: 30%;
  border: 1px solid black;
  margin: 0px 20px 20px;
  float: left;
 
}
.ptitle{
  border: 1px solid black;
  height: 25px;
  width: 120px;
  position: relative;
  text-align: center;
  float: right;
  margin-top: 0px;
  font-weight: bold;
}
.pcontent{
  padding-top:25px;
  width: auto;
}
